.ql-editor {
  height: 400px !important;
}
/* .react-datepicker__input-container::before {
  content: "\e99c";
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 1rem;
  color: #333;
} */
